.idea
azure-api-java-study.iml
target/
vendor/ras/
vendor/common/

src/main/resources/*
!src/main/resources/azure-cloud/
!src/main/resources/*.properties.example
!src/main/resources/*.example
src/main/java/com/fgan/azure/AppExtraTest.java

resource-allocation-service.log
