# Resources
network_id=<network-id>
network_interface_id=<network-interface-id>
resource_group_name=<resource-group-name>
subscription=<subscription>

# Files
cloud_init_path=<cloud-init-path>

# User
user_name=test
user_password=Napo7313